@font-face{
  font-family: 'Franklin Gothic Std';
  src: url('../fonts/ITCFranklinGothicStd-Demi.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family: 'Franklin Gothic Std';
  src: url('../fonts/ITCFranklinGothicStd-Hvy.otf');
  font-weight: 900;
  font-style: normal;
}
