/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Calibre', sans-serif;
    font-size: 1em;
    line-height: 1.2;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-family: 'Franklin Gothic Std', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
  opacity: 1;
}
a:hover .demi,
a:hover .heavy{
  text-decoration: underline;
}
.demi{
  font-weight: 600;
}
.heavy{
  font-weight: 900;
}
.demi, .heavy{
  letter-spacing: 0.02em;
}
.em-dash{
  position: relative;
  top: -0.05em;
  text-decoration: none !important;
}

#viewport{
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

#viewport .left,
#viewport .right{
  position: absolute;
  height: 100%;
  width: 50%;
}


#viewport .left{
  left: 0;
  background: white;
  transition: all 0.2s;
}
#viewport .left svg{
  max-height: 75%;
  max-width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
#viewport .left svg .cls-1{
  fill: black;
  transition: all 0.2s;
}
body.inverted #viewport .left svg .cls-1{
  fill: white;
}
#viewport .right{
  right: 0;
  text-align: center;
  background: black;
  transition: all 0.2s;
}
body.inverted #viewport .left{
  background: black;
}
body.inverted #viewport .right{
  background: white;
}

#viewport .right h1,
#viewport .right h2,
#viewport .right h3,
#viewport .right h4,
#viewport .right h5,
#viewport .right h6{
  position: relative;
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  transition: all 0.2s;
}
body.inverted #viewport .right h1,
body.inverted #viewport .right h2,
body.inverted #viewport .right h3,
body.inverted #viewport .right h4,
body.inverted #viewport .right h5,
body.inverted #viewport .right h6{
  color: black;
}
body.set-text-to-height #viewport .right h1,
body.set-text-to-height #viewport .right h2,
body.set-text-to-height #viewport .right h3,
body.set-text-to-height #viewport .right h4,
body.set-text-to-height #viewport .right h5,
body.set-text-to-height #viewport .right h6{
  font-size: 6vh;
}
body.set-text-to-width #viewport .right h1,
body.set-text-to-width #viewport .right h2,
body.set-text-to-width #viewport .right h3,
body.set-text-to-width #viewport .right h4,
body.set-text-to-width #viewport .right h5,
body.set-text-to-width #viewport .right h6{
  font-size: 3.5vw;
}
#viewport .right .controls{
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  z-index: 100;
}
#viewport .right .controls svg{
  cursor: pointer;
}
#viewport .right .controls svg rect,
#viewport .right .controls svg polygon{
  fill: white;
  transition: all 0.2s;
}
#viewport .right .play{
  display: none;
}

#viewport .right .pause{
  display: block;
}
body.paused #viewport .right .play{
  display: block;
}
body.paused #viewport .right .pause{
  display: none;
}

body.set-text-to-height #viewport .right .play,
body.set-text-to-height #viewport .right .pause{
  width: auto;
  height: 5vh;
}
body.set-text-to-width #viewport .right .play,
body.set-text-to-width #viewport .right .pause{
  width: 5vw;
  height: auto;
}
body.inverted #viewport .right svg polygon,
body.inverted #viewport .right svg rect{
  fill: black;
}


#viewport .right .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
#viewport .right .logo-grid,
#viewport .right .logo-preview{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 2.5%;
  width: 75%;
}
#viewport .right .logo-preview img{
  max-width: 100%;
  max-height: 100%;
}
body.set-text-to-height #viewport .right .logo-preview{
  height: 20vh;
}

body.set-text-to-width #viewport .right .logo-preview{
  height: 20vw;
}


#viewport .right .logo-grid{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.2s;
}
#viewport .right .logo-grid img{
  display: block;
  align-self: center;
}
#viewport .right .logo-grid img:nth-of-type(1){
  width: 7.3746313%;
}
#viewport .right .logo-grid img:nth-of-type(2){
  width: 7.3746313%;
}
#viewport .right .logo-grid img:nth-of-type(3){
  width: 13.0383481%;
}
#viewport .right .logo-grid img:nth-of-type(4){
  width: 26.1356932%;
}
#viewport .right .logo-grid img:nth-of-type(5){
  width: 18.6430678%;
}
#viewport .right .logo-grid.black{
  opacity: 1;
}
body.inverted #viewport .right .logo-grid.white{
  opacity: 1;
}
body.inverted #viewport .right .logo-grid.black{
  opacity: 0;
}
body.set-text-to-width #viewport .right .logo-grid{
  width: 37.5vw;
}
body.set-text-to-height #viewport .right .logo-grid{
  height: 10vh;
}




@media screen and (max-width: 600px){
  #viewport{
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  #viewport .left,
  #viewport .right{
    position: relative;
    width: 100%;
    height: auto;
  }
  #viewport .left a{
    width: 100%;
    height: 100%;
  }
  #viewport .left svg{
    margin: 12.5%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    max-height: none;
  }
  #viewport .right .text{
    position: relative;
    padding: 12.5%;
    padding-bottom: 25%;
    width: 75%;
    top: 0;
    left: 0;
    transform: translate(0);
  }
  #viewport .right h1,
  #viewport .right h2,
  #viewport .right h3,
  #viewport .right h4,
  #viewport .right h5,
  #viewport .right h6{
    font-size: 7vw;
  }
  #viewport .right .logo-grid{
    width: 75vw;
    padding-bottom: 10%;
  }
  #viewport .right .play,
  #viewport .right .pause{
    width: 5vw;
    height: auto;
  }
  #viewport .right .controls{
    position: absolute;
    top: 7.5%;
    right: 7.5%;
  }

}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
